@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-secondary border-solid border-[1px] border-secondary py-2 px-6 focus:outline-none rounded-full text-lg w-60 font-montserrat font-medium text-center;
  }
}

.count-area {
  background: linear-gradient(
    180deg,
    rgba(37, 97, 100, 0.2) 0%,
    rgba(37, 97, 100, 0) 100%
  );
}

.count-card {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  left: 261px;
  top: 1031px;
  border: 1px dashed #256164;
  border-radius: 20px 0px;
}

.count-num {
  width: 154px;
  height: 90px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
  color: #202020;
}

.count-name {
  width: 204px;
  height: 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  color: #202020;
}

.offer-card-head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #6c6c6c;
}

.offer-card-title {
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #202020;
}

.offer-card-author {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #202020;
}

.offer-card-price-1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-decoration-line: line-through;
  color: #6c6c6c;
}

.offer-card-price-2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  color: #ff2525;
}

.offer-card-button {
  padding: 10px 20px;
  height: 47px;
  background: #ff731d;
  border-radius: 5px;
}

.offer-card-button-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #ffffff;
}

.swiper-pagination-bullet {
  background-color: #ff731d !important;
}

.card-instructor {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.instructor-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 58px;
  color: #202020;
}

.instructor-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #202020;
}

.instructor-detail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  color: #202020;
}

.ins-button {
  width: 200px;
  height: 50px;
  background: #ff731d;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.footer-top {
  width: full;
  height: 250px;
  background: #ff731d;
}

.footer-title {
  width: 535px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.footer-button {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.footer-feet {
  width: full;
  height: 688px;
  background: #256164;
}

.footer-para {
  width: 399px;
  height: 65px;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #cdcdcd;
}

.footer-link {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-imp-top {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-imp-link {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
